<!DOCTYPE html>
<html ng-app="app" ng-controller="ctrl">
	<label>Uname.</label>&emsp;&emsp;&emsp;&emsp;
	<input type="text" ng-model="uname">
	<br><br>
	<label>Upwd.</label>&emsp;&emsp;&emsp;&emsp;
	<input type="password" ng-model="upwd">
	<br><br>
	<button ng-click="save({'uname':uname,'upwd':upwd})">Save</button>&emsp;&emsp;
	<button ng-click="read()">Read</button>&emsp;&emsp;
	<button ng-click="remove()">Delete</button>
	<br><br>
	<h1>{{result}}</h1>
	<script type="text/javascript" src="bower_components/angular/angular.min.js"></script>
	<script type="text/javascript" src="bower_components/ngstorage/ngStorage.min.js"></script>
	<script type="text/javascript">
		var app = angular.module("app",["ngStorage"]);
		app.controller("ctrl",ctrl);
		function ctrl($scope,$localStorage,$sessionStorage) {
			
			$scope.save = function (arg1) {
				//$localStorage.key1 = arg1;
				//window.localStorage.setItem("key1",arg1);
				
				$sessionStorage.key1 = arg1;
			
			};
			
			$scope.read = function () {
				//$scope.result = $localStorage.key1;
				$scope.result = $sessionStorage.key1;
			};
			
			$scope.remove = function() {
				//delete $localStorage.key1;
				//window.localStorage.removeItem("key1");
				
				delete $sessionStorage.key1;
				$scope.result = "";
			};
		}
		
	</script>

</html>